/*-------------------------------------------General CSS-------------------------------------------------------*/

html
{
	font-size: 14px;
	background-color: #f5f5f5;
}

*
{
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}
.width-5,.width-90
{
	min-height: 1px;
	float: left;
}
.width-5
{
	width: 5%;
}
.width-90
{
	width: 90%;
}
header h1
{
	color: white;
	font-size: 2.5rem;
	padding:1rem 0rem 1rem 5rem;
}
header
{
	background-color: rgba(0,0,0,0.5);
}

/*------------------------------------------------------Table css : It will e applied to all devices except mobile devices-------------*/
table
{
	border: 1px solid #ddd;
	border-collapse: collapse;
	border-radius: 10px;
	position: relative;
	overflow: auto;
	top:5rem;
	box-shadow: 10px 10px 5px #888888;
}

table tbody td,th
{
	padding: 0.43rem 0.43rem;
	border-bottom: 1px solid #ddd;
	border-collapse: collapse;
	text-align: left;
	background-color: #fff;
	font-size: 0.85rem;
	text-transform: capitalize;
	border-width: 1px
}
table thead tr th
{
	background-color: #2980b9;
	padding: 0.57rem;
	text-align: left;
	color: white;
	font-weight: bold;
	border:none;
	cursor: pointer;
	font-size: 1rem;
}
table thead tr td
{
	padding: 0.28rem 0.43rem;
	text-align: center;
	border-left: 1px solid #f5f5f5;
	font-size: 1rem;
	background-color: white;
}
.last-transaction
{
	border-bottom: 3px solid #0eb7da; /*This is used to seperate the last transaction of day and first transaction of other day*/
}
/*-------------------------------------------------------Search Button CSS---------------------------------------------------------*/
.search-input
{
	width:80%;
	padding: 0.28rem 0.57rem;
	border-radius: 4px;
	height: 1.5rem;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	border: 1px solid #ccc;
    outline: none;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	background-image: url("../img_svg/searchicon.png");
	background-repeat: no-repeat;
	background-position: 0.28rem 0.57rem;
}
.search-input:focus
{
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	border-color: #66afe9;
	background-image: none !important;
}
/*-----------------------------------------------------Button General Css--------------------------------------------------------*/
.btn{
	padding: 0.42rem 0.84rem;
	border-radius: 4px;
	color: white;
	cursor: pointer; 
	box-shadow: 0 3px #555;
    outline: none;
    margin: 0px 5px;
    font-size: 1rem

}

.btn:active
{
	transform: translateY(3px);
	box-shadow: none;
}
.btn:hover
{
	text-decoration: none;
	border: none;
}
/*---------------------------------------------------------Show,Edit and Delete Button CSS-------------------------------------------*/
.btn-show
{
	background-color: #4caf50;
	border:#4cae4c;
}
.btn-edit
{
	background-color: #337ab7;
	border:#2e6da4;
}
.btn-delete
{
	background-color: #c9302c;
	border:#ac2925;
}
/*------------------------------------------------------------Page Button CSS----------------------------------------------------*/
#Page_Buttons button
{
	background-color: #fff;
	color: #000;
	padding: 5px 10px;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	margin-left:1rem; 
	transition: all 0.3s ease-in-out;
}
.active
{
	padding: 12px 16px !important;
	border-radius: 50% !important;
	background-color: green !important;
	border:1px solid green !important;
	color: white !important;
	font-weight: bold;
}
#Page_Buttons
{
	margin: 2rem;
	text-align: center;
	position: relative;
	top:5rem;
}
/*-----------------------------------------Indicate the Status of the  Transaction, different trucks are positioned------------------*/
.active-status [data-column="Source City"]
{
	background-image: url(../img_svg/truck.png);
	background-repeat: no-repeat;
	background-position: 6rem 1.42rem;
}
.complete-status [data-column="Destination City"]
{
	background-image: url(../img_svg/truck-complete.png);
	background-repeat: no-repeat;
	background-position: 6rem 1.70rem;
}
.cancel-status [data-column="Office"]
{
	background-image: url(../img_svg/truck-cancelled.png);
	background-repeat: no-repeat;
	background-position: 6rem 1.42rem;
}
/*---------------------------------------For views other than mobile ,sort-navigation bar is set to display none---------------------*/
#mobile-view
{
	display: none;
}
/*--------------------------------------------Mobile Screens less than 368 Px----------------------------------------------------*/
/*Note: Css is same as Moile device till 600px just 2 columns are made 1 for better view*/
.top img
{
	position: fixed;
	bottom: 2rem;
	height: 3rem;
	width:3rem;
	right: 0.5rem;
}
@media only screen and (max-width: 368px)
{
		html
	{
		font-size: 10px;
	}
	thead tr:first-child{
    	display: none;
	}
	tr {
	    display: block;
	    margin: 1rem 1.5rem;
	    padding: 1rem 0.5rem 0.5rem 1rem;
	    box-shadow: 0 0 1rem #000;
	    border: 1px solid #ddd;
	    border-radius: 8px;
	}
	td {
			display: inline-block;
			margin: 0 0.5rem 0.5rem 1rem;
			padding: 0.5rem !important;
			text-align: left !important;
			background-color: transparent !important;
			border: 1px solid transparentize( #58C25F, 0.5 );
			width: 80%;
	}
	td:before {
	    float: left;
	    margin: -0.5rem 0.5rem -0.5rem -0.5rem;
	    padding: 0.625rem 0.5rem 0.625rem;
	    font-size: 0.9em;
	    font-weight: bold;
	    color: #58C25F;
	}
	td:before {
    	content: attr(data-column) ": ";
	}
	td:nth-last-child(-n+3):before
	{
		content: '';
		width: 30%;
	}
	td:nth-last-child(-n+3)
	{
		width: 15%;
		border: none;
	}
	td
	{
		background-image: none !important;
	}
	.active-status
	{
		background-image: url(../img_svg/truck.png);
		background-repeat: no-repeat;
	}
	.complete-status
	{
		background-image: url(../img_svg/truck-complete.png);
		background-repeat: no-repeat;
	}
	.cancel-status
	{
		background-image: url(../img_svg/truck-cancelled.png);
		background-repeat: no-repeat;
	}
	
	#mobile-view
	{
		display: block;
	}
	#mobile-sort
	{
		padding-top: 2rem;
		position: absolute;
		border-right:1px solid #ddd;
		border-bottom: 1px solid #ddd; 
		background-color: rgba(0,0,0,0.5);
		z-index: 999;
		border-bottom-right-radius: 6px;
		left: 0rem;
		transition: all 0.3s ease-in-out;
		color: white;
	}
	#mobile-sort nav a
	{
		display: block;
		border: none;
		padding: 0.5rem;
		z-index: 1000;
		cursor: pointer;
		font-size: 1.2rem;
	}
	#mobile-sort nav a:hover
	{
		background-color: rgb(0,0,0);
	}
	.close
	{
		color: #fff;
		position: absolute;
		top: -0.5rem;
		right: 0.2rem;
		font-size: 1.5rem;
		font-weight: 300;
		font-family: Arial, sans-serif;
		text-shadow: 0 1px 0 #fff;
	}
	.close:after
	{
		content: '✖';
	}
	.close-nav
	{
		left: -20rem !important;
	}
	.btn-sort
	{
		padding: 0.42rem 0.84rem;
		border-radius: 4px;
		color: white;
		cursor: pointer; 
	    outline: none;
	    margin: 0px 0px;
	    font-size: 1rem;
	    background-color:rgba(0,0,0,0.7);
	    border: none;
	}
	.last-transaction
	{
		border-bottom: 5px solid #0eb7da;
	}
}

/*--------------------------------------------------Mobile View between 368px to 600px;-------------------------------------------*/
@media only screen and (min-width: 368px) and (max-width: 600px) {
	html
	{
		font-size: 10px;
	}
	thead tr:first-child{
    	display: none;
	}
	tr {
	    display: block;
	    margin: 1rem 1.5rem;
	    padding: 1rem 0.5rem 0.5rem 1rem;
	    box-shadow: 0 0 1rem #000;
	    border: 1px solid #ddd;
	    border-radius: 8px;
	}
	td {
			display: inline-block;
			margin: 0 0.5rem 0.5rem 1rem;
			padding: 0.5rem !important;
			text-align: left !important;
			background-color: transparent !important;
			border: 1px solid transparentize( #58C25F, 0.5 );
			width: 40%;
	}
	td:before {
	    float: left;
	    margin: -0.5rem 0.5rem -0.5rem -0.5rem;
	    padding: 0.625rem 0.5rem 0.625rem;
	    font-size: 0.9em;
	    font-weight: bold;
	    color: #58C25F;
	}
	td:before {
    	content: attr(data-column) ": ";
	}
	td:nth-last-child(-n+3):before
	{
		content: '';
		width: 30%;
	}
	td:nth-last-child(-n+3)
	{
		width: 22%;
		border: none;
	}
	td
	{
		background-image: none !important;
	}
	.active-status
	{
		background-image: url(../img_svg/truck.png);
		background-repeat: no-repeat;
	}
	.complete-status
	{
		background-image: url(../img_svg/truck-complete.png);
		background-repeat: no-repeat;
	}
	.cancel-status
	{
		background-image: url(../img_svg/truck-cancelled.png);
		background-repeat: no-repeat;
	}
	
	#mobile-view
	{
		display: block;
	}
	#mobile-sort
	{
		padding-top: 2rem;
		position: absolute;
		border-right:1px solid #ddd;
		border-bottom: 1px solid #ddd; 
		background-color: rgba(0,0,0,0.5);
		z-index: 999;
		border-bottom-right-radius: 6px;
		left: 0rem;
		transition: all 0.3s ease-in-out;
		color: white;
	}
	#mobile-sort nav a
	{
		display: block;
		border: none;
		padding: 0.5rem;
		z-index: 1000;
		cursor: pointer;
		font-size: 1.2rem;
	}
	#mobile-sort nav a:hover
	{
		background-color: rgb(0,0,0);
	}
	.close
	{
		color: #fff;
		position: absolute;
		top: -0.5rem;
		right: 0.2rem;
		font-size: 1.5rem;
		font-weight: 300;
		font-family: Arial, sans-serif;
		text-shadow: 0 1px 0 #fff;
	}
	.close:after
	{
		content: '✖';
	}
	.close-nav
	{
		left: -20rem !important;
	}
	.btn-sort
	{
		padding: 0.42rem 0.84rem;
		border-radius: 4px;
		color: white;
		cursor: pointer; 
	    outline: none;
	    margin: 0px 0px;
	    font-size: 1rem;
	    background-color:rgba(0,0,0,0.7);
	    border: none;
	}
	.last-transaction
	{
		border-bottom: 5px solid #0eb7da;
	}

}

/*----------------------------------------------------------Tablet View------------------------------------------------------------*/
@media only screen and (min-width: 600px) and (max-width: 992px) {
    html
	{
		font-size: 12px;
	}
	.search-input
	{
		width: 70%;
	}
	.active-status [data-column="Source City"]
	{
		background-position: 3.4rem 1.42rem;
	}
	.complete-status [data-column="Destination City"]
	{
		background-position: 4.7rem 1.55rem;
	}
	.cancel-status [data-column="Office"]
	{
		background-position: 3.7rem 1.42rem;
	}
}

/*------------------------------------------------Smaller Laptops or Large Tablet Css For Responsive Design---------------*/
@media only screen and (min-width: 992px) and (max-width: 1200px) {
 	html
	{
		font-size: 13px;
	}
	.search-input
	{
		width: 75%;
	}
	.active-status [data-column="Source City"]
	{
		background-position: 4.2rem 1.42rem;
	}
	.complete-status [data-column="Destination City"]
	{
		background-position: 5rem 1.60rem;
	}
	.cancel-status [data-column="Office"]
	{
		background-position: 4.5rem 1.42rem;
	}
 
}